body{
    margin: 0px;
    padding: 0px;
    background-color: lightcyan;
}
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
.master{
    margin: 10px;
}
th{
    background-color: lightgreen;
}
td{
    background-color: lightcyan;
}
td,th{
    padding: 5px;
}
#edit{
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 2px;
    padding-bottom: 5px;
}
#delete{
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 2px;
    padding-bottom: 5px;
}
a{
    border-radius: 5px;
}
#np{
    background-color: green;
    color: white;
    font-size: larger;
    padding: 5px;
}
.new_master{
    margin-bottom: 20px;
}
#separate{
    height: 13px;
}
