body{
    margin: 0px;
    padding: 0px;
    background-color: lightcyan;
    font-size: 1.3 rem;
}
div#fbox{
    display: grid; 
    grid-template-columns: 1fr 1fr 2fr 2fr;
    margin: 40px;
 }
input{
    width: 85px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-left: 10px;
}
#btn{
    width: 200px;
    margin-left: 100px;
    background-color: green;
    color: white;
    height: 40px;
    font-size: 20px;
    margin-bottom: 50px;
}
div.result{
    margin: 20px;
}
.gradeselector table{
    margin-top: 20px;
}
#inresult{
    font-size: larger;
}
#inresult b{
    font-size: x-large;
    color: red;
}
#reqchem{
    margin-top: 25px;
}
.steelsuggestion{
    font-size: 1.5rem;
}
.steelsuggestion1{
    font-size: 1.5rem;
}