body{
    margin: 0px;
    padding: 0px;
    background-color: lightcyan;
}

div#mainheader{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    padding-right: 10px;
    background-color: aquamarine;
    max-height: 70px;
}
#header div{
    display: inline;
}
p#FTH{
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 20px;
    margin-top: 10px;
}
#mainheader img{
    width: 30px;
    height: 35px;
}
a.dept{
    height: min-content;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 15px;
    color: white;
    background-color: green;
    text-align: center;
    padding:5px 5px 5px;
    border-radius: 50px;
}
a:link{
    text-decoration: none;
}
a.dept:hover{
    background-color: orangered;
}
div#footer{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1rem;
}
label{
    font-size: 0.95rem;
}
input,select{
    border-radius: 10px;
    width: 7rem;
    height: 2rem;
    padding: 2px;
    text-align: center;
    font-size: 1.5rem;
}
select{
    height: 40px;
}
input:focus{
    background-color: lightgray;
}
#carbsel{
    width: 250px;
}
#calccon{
    display: flex;
}
#patternspec{
    flex: 1;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#holdercalc{
    flex:2;
}
th{
    width: 200px;
    text-align: center;
}
td{
    text-align: center;
}
.boxtitle{
    padding-bottom: 20px;
}
button{
    color: green;
    margin: 20px 40vw;
    font-size: 1rem;
    width: 200px;
    height: 50px;
}
@media (max-width: 100px){
    div#mainheader {
        display: flex;
    }
    p#FTH{
        font-size: 20px;
        font-weight: bolder;
        margin-left: 20px;
        margin-top: 10px;
    }

    #header div{
        display: block;
    }
    a.dept{
        display: none;
    }
    div.threebar{
        position: relative;
        top: 25px;
        left: 90px;
        width: 40px;
        height: 30px;
    }
    .bars{
        width: 30px;
        height: 5px;
        margin: 3px;
        background-color: black;
    }
}
#getdata{
        width: 150px;
        font-size: large;
        margin: auto;
        margin-top: 30px;
        padding-bottom: 5px;
        background-color: lightgreen;
}
@media (max-width:1100px) {
    a.dept{
        font-size: 1rem;
    }
}
@media (max-width:554px) {
    p#FTH{
        font-size: 0rem;
    }
    a.dept{
        font-size: 0.8rem;
    }
    div#mainheader{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 5px;
        padding-right: 10px;
        background-color: aquamarine;
        max-height: 70px;
    }
    label{
        font-size: 1rem;
        font-weight: bolder;
    }
    div.labcontent{
        margin: 0px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
      input{
        width: 90px;
        height: 40px;
        border-radius: 30px;
        font-size: large;
        font-weight: bolder;
        padding-left: 5px;
    }
}