*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(189, 241, 248);
}
.heading{
    display: inline;
    font-size: 25px;
    text-align: center;
    color: rgb(250, 116, 6);
    text-shadow: 5px 5px 10px yellow;
    padding-bottom: 50px;
}
.author{
    display: inline;
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-shadow: 2px 5px 5px grey;
    padding-bottom: 10px;
}
.dept{
    border: 1px solid red;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    font-size: 25px;
    border-radius: 10px;
    background-color: lightcoral;
    flex:1;
}
#box{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
}
.alldep{
    flex: 1;
}
#box2{
    flex: 2;
}
#credits{
    border-radius: 10px;
    width: 70%;
    background-color: lightgreen;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}
#heading:link{
    color: orangered;
    text-decoration: none;
}