body{
    margin: 0px;
    padding: 0px;
    background-color: lightcyan;
}
div#mainheader{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    padding-right: 10px;
    background-color: aquamarine;
    max-height: 70px;
}
p#FTH{
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 20px;
    margin-top: 10px;
}
#mainheader img{
    width: 30px;
    height: 35px;
}
a.dept{
    height: min-content;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 15px;
    color: black;
    background-color: green;
    text-align: center;
    padding:5px 5px 5px;
    border-radius: 50px;
}
a:link{
    text-decoration: none;
}
a.dept:hover{
    background-color: orangered;
}
div#footer{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* table */
.content{
	margin-top: 30px;
	text-align: center;
}
input{
	width: 180px;
	height: 35px;
	text-align: center;
	font-size: 25px;
}
#lpattern{
	font-size: 30px;
	font-weight: bolder;
}
#lmtwt{
	font-size: 30px;
	font-weight: bolder;
}
table{
	margin: auto;
	margin-top: 20px;
}
th{
	font-size: 20px;
	padding: 5px;
}
table, th, td{
	border: 1mm solid black;
	border-collapse: collapse;
}
input#calbtn{
	color: blue;
	margin-top: 10px;
	width: 150px;
	font-size: 20px;
	font-weight: bold;
}